/* navbar */
[data-menu="array"] {
	
	background-color: #f7fff7!important;
	
	/*box-shadow: 3px 3px 5px rgba(0,0,0,0.3);*/ 
}
[data-menu="array"] a {
	
	 color: #ffc107 !important;
	 font-size: 20px;
	
}
[data-menu="array"] a.active {
	
	 color: red !important;
	 
	
}
[data-item_level_2="container"] {
	
	
	
	
	/*box-shadow: 3px 3px 5px rgba(0,0,0,0.3); */ 
	
}

/* верхнее меню */  

  [data-menu="array"], [data-menu="array"] ul {
  margin: 0px;
  padding: 0px; }
  [data-menu="array"] li, [data-menu="array"] ul li {
    list-style-type: none; }
    [data-menu="array"] li a, [data-menu="array"] ul li a {
      white-space: nowrap;
      text-decoration: none; }
    [data-menu="array"] li a:hover, [data-menu="array"] ul li a:hover {
      text-decoration: none;
      color: red; }
	  
[data-menu="array"] .hover-non, [data-menu="array"] .menu-toggler {
  display: none; }
  [data-menu="array"] [data-menu_item="container"] {
    padding: 5px 10px 5px 10px;
    position: relative; }
    [data-menu="array"] [data-menu_item="container"] > ul {
      position: absolute;
      left: 0px;
      top: 103%;
      background-color: white!important;
      z-index: 10;
	  box-shadow: 5px 5px 7px rgba(0,0,0,0.5); /* Параметры тени */
      border: 1px solid #f8f9fa !important; }
    [data-menu="array"] [data-menu_item="container"] > ul:before {
      content: "";
      width: 100%;
      height: 16px;
      position: absolute;
      top: -8px;
      left: 0px; }
  [data-menu="array"] [data-item_level_2_top="container"] {
    position: relative;
   /* padding: 5px 5px 5px 5px;*/ }
    [data-menu="array"] [data-item_level_2_top="container"] > ul {
      position: absolute;
      left: 101%;
      top: 0px;
      border: 1px solid #f8f9fa !important;
	  box-shadow: 5px 5px 7px rgba(0,0,0,0.5); /* Параметры тени */
      background-color: white!important; }
	  [data-menu="array"] [data-item_level_2_top="container"] [data-item_level_3="container"]{
			border: none;
			
	  }
	  [data-menu="array"] [data-item_level_2_top="container"] > a{
			
			 color: green !important;
	  }
	  [data-menu="array"] [data-item_level_2_top="container"] > a:hover{
			
			color: red !important;
	  }
	 [data-menu="array"] [data-item_level_2_top="container"] [data-item_level_3="container"] > a{
			
			 color: green !important;
	  }
	  [data-menu="array"] [data-item_level_2_top="container"] [data-item_level_3="container"] > a:hover{
			
			color: red !important;
	  }

    [data-menu="array"] [data-item_level_2_top="container"] > ul:before {
      content: "";
      width: 15px;
      height: 100%;
      position: absolute;
      top: 0px;
      left: -7px; }
  [data-menu="array"] [data-item_level_3="container"] {
   padding: 7px 5px 7px 5px;
    positiont: relative; }
	
	
 
/* мобильная версия верхнее меню */
    .toggler-mobail-nav-type {
		 
		 display: none;
	 }	 

@media (max-width: 600px) {
  [data-menu="array"] {
    display: block;
   /* width: 50%;*/ }
    /*[data-menu="array"] .menu-toggler {
      display: block;
      padding: 5px 5px 5px 9px;
      color: #007bff;
      font-size: 20px;
      line-height: 22px; }*/
    [data-menu="array"] [data-menu_item="container"] {
      padding: 5px 5px 5px 9px;
      position: static;
      /*display: none;*/ }
      [data-menu="array"] [data-menu_item="container"] > ul {
        position: static;
        border: none !important; 
		box-shadow: none; /* Параметры тени */
		}
      [data-menu="array"] [data-menu_item="container"] > ul:before {
        content: "";
        width: 0%;
        height: 0px;
        position: static;
        top: 0px;
        left: 0px; }
    [data-menu="array"] [data-item_level_2_top="container"] {
      padding: 5px 5px 5px 9px;
      background-color: #eff5f7;
      position: static;
      display: block; }
      [data-menu="array"] [data-item_level_2_top="container"] > ul {
        position: static;
        border: none !important; 
		box-shadow: none; /* Параметры тени */
		}
      [data-menu="array"] [data-item_level_2_top="container"] > ul:before {
        content: "";
        width: 0px;
        height: 0%;
        position: static; }
    [data-menu="array"] [data-item_level_3="container"] {
	   	
      padding: 5px 5px 5px 9px;
      background-color: #b8d9e4; }

     .toggler-nav-type {
		 
		 display: none;
	 }
     .toggler-mobail-nav-type {
		 
		 display: block;
	 }
 [data-menu="array"] [data-menu_item="container"] [data-item_level_2_top="container"] [data-item_level_3="container"] > a{
	white-space: normal;
	border-bottom: 1px dotted gray;
}	 
}


   /*      левое меню     */          
			  [data-item_level_2="container"] > a {
				  
				    color: #117a8b !important;
					font-size: 20px;
				  
			  }
			  
			  
			  [data-item_level_3="container"] {			  
			             
						  list-style-type: none;
						 /* margin-bottom: 7px; */
						
						  border-bottom: 1px dotted #117a8b; 
						  	  
			  }
			   [data-item_level_3="container"] > a {	 
			   
			   
					 color: green;
			   
			   }
			  [data-item_level_3="container"]:last-child {	
			  
					 border-bottom: none;
			  }


	 /*      раскраска пременных в коде    */ 		
			.active { color: red !important;}
			
			 pre {
				background-color: #f6f8fa;			  
			  }
			  .js-comments {
					color: #adb5bd;
			  }
			  .js-vars {
				color: #dc3545;
			  }
			  .js-vars-2 {
				color: #6f42c1;
			  }
			  .tag {
				color: #28a745;
			  }
			  .data-attr{
				color: #fd7e14;
			  }
			  .data-main-attr{
				 /* color: #6610f2*/
				 color: #fd7e14;
				  
			  }
			  .input-vars{
				  color: #6f42c1;
				  
			  }
			  
	/* контент */	

[data-page_single-title="text"]	{
	
	color: #117a8b !important;
	
}